body {
	margin: 0;
	font-family: Helvetica;
}

#canvasElement1{
	width:800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

#container{
	height: 100%;
	width: 100%;
	padding-top: 5%;
}

#play{
	display: block;
}

#pause{
	display: none;
}

.player_button{
	width:50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 36px;
	text-align: center;
}